@import url(./components/header.css);
@import url(./components/desc.css);
@import url(./components/service.css);
@import url(./components/about.css);
@import url(./components/clients.css);
@import url(./components/review.css);
@import url(./components/advantage.css);
@import url(./components/footer.css);

@font-face {
  font-family: 'lato';
  src: url(/fonts/Lato-Regular.ttf);
}

body {
  color: #000000;
  font-family: 'lato';
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.container-center {
  width: 1110px;
  margin: 0 auto;
}

.alter-bg {
  background: #EBEBEB;
}

.title {
  color: #BDBDBD;
  font-size: 24px;
  font-weight: 900;
  line-height: 33px;
  margin-bottom: 40px;
}

.sub-title {
  color: #333333;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 69px;
}

.button-blue {
  color: #FFFFFF;
  background: #005FA3;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}