@font-face {
  font-family: 'lato';
  src: url(../fonts/Lato-Regular.ttf);
}

body {
  color: #000000;
  font-family: 'lato';
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.container-center {
  width: 1110px;
  margin: 0 auto;
}

.header {
  padding: 22px 0 31px;
}

.header-title {
  color: #005FA3;
  font-family: 'Merriweather';
  font-size: 36px;
  font-weight: 900;
  line-height: 50px;
}

.header-contact-link {
  text-decoration: none;
  color: inherit;
}

.header-contact-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.header-nav-link {
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.alter-bg {
  background: #EBEBEB;
}

.title {
  color: #BDBDBD;
  font-size: 24px;
  font-weight: 900;
  line-height: 33px;
  margin-bottom: 40px;
}

.sub-title {
  color: #333333;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 69px;
}

.button-blue {
  color: #FFFFFF;
  background: #005FA3;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.desc {
  padding: 170px 0;
  background-color: #686765;
  background-image: url(../img/bg/city-bg.jpg);
}

.desc-text {
  color: #FFFFFF;
  margin: 0 0 131px;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 700;
  line-height: 66px;
}

.desc-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  line-height: 34px;
  background: #005FA3;
  display: block;
  width: 333px;
  height: 84px;
}

.service {
  padding: 140px 0;
}

.service-list {
  margin-top: 102px;
}

.service-item {
  background: url(../img/bg/service-bg.jpg);
  background-size: cover;
  box-sizing: border-box;
  width: 350px;
  min-height: 360px;
  padding: 261px 118px 45px 45px;
}

.service-item-title {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}

.service-item-link {
  text-decoration: none;
}

.about {
  padding: 140px 0;
}

.about-desc {
  margin-top: 60px;
  width: 445px;
  min-height: 245px;
}

.about-company-sub-title {
  color: #005FA3;
}

.about-item {
  width: 255px;
  height: 255px;
  padding: 30px 0 40px 40px;
  box-sizing: border-box;
}

.about-item-stat {
  font-size: 55px;
  font-weight: 900;
  line-height: 66px;
  margin: 0 140px 30px 0;
}

.about-item-desc {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 47px;
  width: 147px;
}

.about-item-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.clients {
  padding: 85px 0 91px;
}

.review {
  padding: 174px 0 120px;
}

.review-item-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.review-item-author-name {
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
}

.review-item-author-position {
  color: #4F4F4F;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.advantage {
  padding: 102px 0 112px;
}

.advantage-item-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.contactus {
  background-color: #363635;
  background-image: url(../img/bg/city-bg.jpg);
  padding: 122px 0 140px;
}

.contactus-title {
  color: #FFFFFF;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 69px;
}

.contactus-desc {
  color: #FFFFFF;
}

.contactus-item-link {
  text-decoration: none;
}

.contactus-item-text {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 300;
  line-height: 29px;
}

.footer-shield {
  padding: 50px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}