.about {
  padding: 140px 0;
}

.about-desc {
  margin-top: 60px;
  width: 445px;
  min-height: 245px;
}

.about-company-sub-title {
  color: #005FA3;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-list-item {
  width: 255px;
  height: 255px;
  padding: 30px 40px 40px;
  box-sizing: border-box;
  position: relative;
}

.about-list-item-stat {
  font-size: 55px;
  font-weight: 900;
  line-height: 66px;
  margin: 0 140px 30px 0;
}

.about-list-item-desc {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 47px;
  width: 147px;
}

.about-list-item-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.about-list-item:nth-of-type(n+3) {
  margin-top: 30px;
}

.about-list-item:hover,
.about-list-item:focus-within {
  background: #005FA3;
  color: #FFFFFF;
}

.about-list-item:hover .about-list-item-link, 
.about-list-item:focus-within .about-list-item-link {
  color: #FFFFFF;
  outline: none;
}