.advantage {
  padding: 102px 0 75px;
}

.advantage-list {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
}

.advantage-list-item {
  display: flex;
  flex-direction: column;
  width: 348px;
  height: 316px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.advantage-list-item-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

