.desc {
  padding: 170px 0;
  background-color: #686765;
  background-image: url(/img/bg/city-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.desc-text {
  color: #FFFFFF;
  margin: 0 0 131px;
  width: 589px;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 700;
  line-height: 66px;
}

.desc-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  line-height: 34px;
  background: #005FA3;
  width: 333px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-link:hover, 
.desc-link:focus {
  background: #06a0e7;
}

.desc-link:active {
  opacity: 0.9;
}

