.contactus {
  background-color: #363635;
  background-image: url(/img/bg/city-bg.jpg);
  padding: 122px 0 140px;
}

.contactus-title {
  color: #FFFFFF;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 69px;
  margin-bottom: 60px;
}

.contactus-desc {
  color: #FFFFFF;
  width: 445px;
  min-height: 43px;
  margin-bottom: 80px;
}

.contactus-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contactus-item-link {
  text-decoration: none;
  display: flex;
  gap: 10px;
}

.contactus-item-text {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 300;
  line-height: 29px;
}

.footer-shield {
  padding: 50px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
}