.popup {
  width: 733px;
  padding: 55px 95px 69px;
  background: #262626;
  color: #FFFFFF;
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}

.popup-form {
  display: flex;
  flex-flow: column wrap;
}

.popup-margin {
  margin: 0 0 18px;
}

.popup .sub-title {
  margin: 0 auto 64px;
  color: #FFFFFF;
}

.popup-form-label {
  display: block;
}

.popup-form-feedback-container-estimate {
  display: flex;
}

.popup-form-feedback-container-estimate-legend {
  display: block;
  margin: 0 auto;
}

.popup-form-button-container {
  margin-top: 34px;
  display: flex;
  justify-content: center;
}