.review {
  padding: 174px 0 120px;
}

.review-control {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0;
  align-items: end;
}

.review-control-slider {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.review-control-slider-button {
  background: #005FA3;
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 50%;
  opacity: 40%;
}

.review-control-slider-button-arrow {
  width: 60px;
  height: 60px;
  border: 0;
  padding: 0;
  background: #005FA3;
}

.review-control-slider-button-arrow:disabled {
  opacity: 20%;
  cursor: default;
}

.review-control-slider-button:disabled {
  opacity: 100%;
  cursor: default;
}
.review-control-slider-button-arrow:disabled.review-control-slider-button-arrow:hover,
.review-control-slider-button-arrow:disabled.review-control-slider-button-arrow:focus,
.review-control-slider-button:disabled.review-control-slider-button:hover,
.review-control-slider-button:disabled.review-control-slider-button:focus {
  background: #005FA3;
}

.review-list {
  margin-top: 80px;
}

.review-list-item {
  padding: 45px 95px;
  display: flex;
  flex-direction: column;
}

.review-list-item-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 58px;
}

.review-list-item-author {
  display: flex;
  gap: 35px;
}

.review-list-item-author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-list-item-author-info-name {
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
}

.review-list-item-author-info-position {
  color: #4F4F4F;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
